<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Cini</string>
	<key>TMDB_API_KEY</key>
	<string>$(TMDB_API_KEY)</string>
	<key>SUPABASE_URL</key>
	<string>$(SUPABASE_URL)</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>$(SUPABASE_ANON_KEY)</string>
	<key>GRACENOTE_API_KEY</key>
	<string>$(GRACENOTE_API_KEY)</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Used to pick a profile photo. Your library is never scanned or uploaded.</string>
	<key>NSContactsUsageDescription</key>
	<string>Used once to find which of your contacts are already on Cini. Contacts are never stored.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Used once to find your zipcode when you search nearby showtimes.</string>
	<key>UIAppFonts</key>
	<array>
		<string>DMSerifDisplay-Regular.ttf</string>
		<string>Limelight-Regular.ttf</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
</dict>
</plist>
